.App {
  background-color: #252422;
  height: 100vh;
}
header {
  background: #738290;
  height: 90px;
  display: flex;
  align-items: center;
}
h1 {
  color: #ffffff;
  margin: 0;
  display: flex;
  margin: 0 2em;
  cursor: pointer;
}
.profile-picture {
  border-radius: 50%;
  background-color: #fff;
  height: 60px;
  width: 60px;
  position: absolute;
  right: 20px;
  top: 15px;
  cursor: pointer;
}
.welcome-container {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  color: #fff;
  background-color: #738290;
}
.body-container p {
  width: 110px;
  text-align: center;
}
.btn {
  width: 110px;
  height: 40px;
  border: none;
  outline: none;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
}
#signup-btn {
  background-color: #a64253;
}
#login-btn {
  background-color: #ed7d3a;
}
.login-form {
  display: flex;
  flex-direction: column;
}
.login-form input {
  margin: 10px 0;
}
#login-password-input {
  height: 40px;
}
#login-email-input {
  height: 40px;
}
.signup-form {
  display: flex;
  flex-direction: column;
}
.signup-form input {
  margin: 10px 0;
  height: 40px;
}
